body{
    background-image: url(imgs.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
    color: wheat;
    font-size: 50px;
    
}
.first{
    text-align: center; 
    
}
.firstimage{
    text-align: center;
    border: 0cqmax;
}

.second{
    text-align: center; 
    
}
.secondimage{
    text-align: center;
    size: 500px;
    height: 500px;
    width: 500px';
}
.image{
    width: 500px; height: 500px;
   border-radius: 100px 100px 100px 100px; margin-left: 30px;
   margin-top: 100px;
   padding :block end 40px;
}
